{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div style="display: flex; flex-direction: column; justify-content: center; width: 35%; margin: auto">

    <h1>S'enregistrer</h1>

    {{ form_start(registrationForm) }}
    <div class="form-group">
        <div class="form-floating mb-3">
            {{ form_row(registrationForm.email,{'attr': {'class': 'form-control', 'placeholder': 'name@example.com'},'type':'email'}) }}


        </div>
        <div class="form-floating">
            {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control','id':'test'},'type':'password' }) }}               <label for="floatingPassword">Password</label>
        </div>
    </div>
<br>
        {{ form_row(registrationForm.agreeTerms) }}
<br>
    <button type="submit" class="btn btn-primary">Créer un compte</button>
        <br>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
