{% extends 'base.html.twig' %}

{% block title %}FavorisSent{% endblock %}

{% block body %}
    <h1>FavorisSent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ favoris_sent.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ favoris_sent.email }}</td>
            </tr>
            <tr>
                <th>Biens</th>
                <td>{{ favoris_sent.biens ? favoris_sent.biens|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ favoris_sent.date ? favoris_sent.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_favoris_sent_index') }}">back to list</a>

    <a href="{{ path('app_favoris_sent_edit', {'id': favoris_sent.id}) }}">edit</a>

    {{ include('favoris_sent/_delete_form.html.twig') }}

    <h1>Les biens </h1>

    {% for bien in biens %}
        <td>{{ bien.id }}</td>
        <td>{{ bien.reference }}</td>
        <td>{{ bien.titre }}</td>
        <td>{{ bien.surface }}</td>
        <td>{{ bien.type }}</td>
        <td>{{ bien.prix }}</td>
        <td>{{ bien.description }}</td>
        <br>
        <p>-------------------------------</p>
    {% endfor %}
{% endblock %}
