
<td><a href="{{ path('app_admin_new', {id: bien.id}) }}"> Ajouter le bien au favoris</a></td>
<td>{{ bien.id }}</td>
    <td>{{ bien.reference }}</td>
    <td>{{ bien.titre }}</td>
    <td>{{ bien.surface }}</td>
    <td>{{ bien.type }}</td>
    <td>{{ bien.prix }}</td>
    <br>
