{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('style/bienDisponible.css') }}"/>
	<link rel="stylesheet" href="{{ asset('style/bien.css') }}"/>
{% endblock %}

{% block title %}Hello BienDisponibleController!
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/bien.js') }}"></script>
{% endblock %}

{% block body %}
	<h2>
		{{ bien.titre}}
		|
		{{ bien.type }}</h2>
	<section>
		<div>
			<img src="/images/photo/{{ bien.reference }}.jpg" alt="Photo du bien présenté" onerror="this.src='/images/photo/noPhoto.jpg'" class="bienDispoImage"/>
			<div class="bienDispoDescription">
				<h3>
					Type de bien
				</h3>
				<p>
					{{ bien.idCategorie }}
				</p>
				<h3>
					Surface du bien</h3>
				<p>
					{{ bien.surface }}
					m²
				</p>
				<h3>
					Localisation du bien
				</h3>
				<p>
					{{ bien.localisation }}
				</p>
				<h3>
					Prix du bien
				</h3>
				<p>
					{{ bien.prix }}
					€
				</p>
				<form action="{{ path('app_admin_new', {id: bien.id}) }}" method="post">
					<button type="submit" class="buttonFavoris">Ajouter en favoris</button>
				</form>
			</div>
		</div>
		<div>
			<h3>
				Description du bien
			</h3>
			<p>
				{{ bien.description }}
			</p>
		</div>
	</section>

	<hr/>

	<h2>
		Peut aussi vous intéresser
	</h2>
	<div class="nosBiens">
		{% for bien in randomBiens %}
			<a href="{{ path('app_bien_disponibleById', {id: bien.id}) }}">
				<div class="contenaire">
					<div class="bien">
						<img src="/images/photo/{{ bien.reference }}.jpg" alt="Photo du bien présenté" onerror="this.src='/images/photo/noPhoto.jpg'" class="bienImage"/>
						<a href="{{ path('app_admin_new', {id: bien.id}) }}" class="favorite-button">
							<img src="/images/logo/favicon.png" alt="Bouton favoris" class="favorite-button__image"/>
						</a>
						<div class="bienInfos">
							<h3 class="bienTitre">
								{{ bien.titre|slice(0, 30)|raw }}...
							</h3>
							<p class="bienPrix">
								{{ bien.prix }}
								€
							</p>
							<p class="bienCodePostal">
								{{ bien.localisation }}
							</p>
							<div>
								<img src="/images/logo/{{ bien.idCategorie }}.png" onerror="this.src='/images/photo/noPhoto.jpg'" alt="{{ bien.idCategorie }}" width="21" height="21" class="bienTypeImage"/>
								<p class="bienType">
									{{ bien.type }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		{% endfor %}
	{% endblock %}
