{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('style/login.css') }}" />
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Erreur !</strong> <a href="#" class="alert-link">{{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <h2> Se connecter </h2>

    <hr/>

    <form action="{{ path('app_login') }}" method="post" class="login">
        <label for="username">Votre email</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Votre mot de passe</label>
        <input type="password" id="password" name="_password">

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">Se connecter</button>
    </form>
{% endblock %}