{% extends 'base.html.twig' %}

{% block title %}Bien index{% endblock %}

{% block body %}
    <h1>Bien index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Localisation</th>
                <th>Surface</th>
                <th>Prix</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bien in biens %}
            <tr>
                <td>{{ bien.id }}</td>
                <td>{{ bien.reference }}</td>
                <td>{{ bien.titre|slice(0, 30)|raw }}...</td>
                <td>{{ bien.description }}</td>
                <td>{{ bien.localisation }}</td>
                <td>{{ bien.surface }}</td>
                <td>{{ bien.prix }}</td>
                <td>{{ bien.type }}</td>
                <td>
                    <a href="{{ path('app_bien_show', {'id': bien.id}) }}">show</a>
                    <a href="{{ path('app_bien_edit', {'id': bien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bien_new') }}">Create new</a>

    {% for contac in contact %}
        <p>Mail envoyé au contact id = </p>
    <p>{{ contac.id }}</p>
    {% endfor %}

{% endblock %}
