{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('style/favoris.css') }}"/>
	<link rel="stylesheet" href="{{ asset('style/bien.css') }}"/>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/bien.js') }}"></script>
{% endblock %}

{% block title %}Hello FavorisController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<h2>
		Vos favoris de votre session
	</h2>
	<br>
	<div class="nosBiens">
		{% if biens == [] %}
			<h3>Vous n'avez ajouté encore aucun favoris durant votre navigation</h3>
		{% else %}
			{% for bien in biens %}
				<a href="{{ path('app_bien_disponibleById', {id: bien.id}) }}">
					<div class="contenaire">
						<div class="bien">
							<img src="/images/photo/{{ bien.reference }}.jpg" alt="Photo du bien présenté" onerror="this.src='/images/photo/noPhoto.jpg'" class="bienImage"/>
							<a href="{{ path('app_admin_removeById', {id: bien.id}) }}" class="favorite-button">
								<img src="/images/logo/croix.png" alt="Bouton favoris" class="favorite-button__image"/>
							</a>
							<div class="bienInfos">
								<h3 class="bienTitre">
									{{ bien.titre|slice(0, 30)|raw }}...
								</h3>
								<p class="bienPrix">
									{{ bien.prix }}
									€
								</p>
								<p class="bienCodePostal">
									{{ bien.localisation }}
								</p>
								<div>
									<img src="/images/logo/{{ bien.idCategorie }}.png" onerror="this.src='/images/photo/noPhoto.jpg'" alt="{{ bien.idCategorie }}" width="21" height="21" class="bienTypeImage"/>
									<p class="bienType">
										{{ bien.idCategorie }}
									</p>
								</div>
							</div>
						</div>
					</div>
				</a>
			{% endfor %}


		</div>
		<div class="buttons">
			<form action="{{ path('app_admin_remove') }}" method="post">
				<button type="submit" class="buttonRemoveAll">Retirer tous les favoris</button>
			</form>
			<form action="{{ path('app_admin_mail') }}" method="post">
				<input type="email" name="email" id="email" placeholder="Votre mail">

				<button type="submit" class="buttonSend">Envoyer les favoris par mail</button>
			</form>
		{% endif %}
	</div>

	<div style="height: 250px"></div>
	<hr>
	<h2>Les favoris précédement enregistrés
	</h2>
	<br>
	<figcaption class="blockquote-footer">
		Si vous souhaitez supprimer les anciens favoris veuillez vous rendre dans votre compte
		<a href="{{ path('app_compte') }}">
			ici</a>
	</figcaption>
	<br>
	<br>
	<div class="nosBiens">
		{% if favoris == [] %}
			<h3>Vous vous n'êtes pas envoyé de favoris</h3>
		{% else %}
			{% for bien in favoris %}
				<a href="{{ path('app_bien_disponibleById', {id: bien.id}) }}">
					<div class="contenaire">
						<div class="bien">
							<img src="/images/photo/{{ bien.reference }}.jpg" alt="Photo du bien présenté" onerror="this.src='/images/photo/noPhoto.jpg'" class="bienImage"/>

							<div class="bienInfos">
								<h3 class="bienTitre">
									{{ bien.titre|slice(0, 30)|raw }}...
								</h3>
								<p class="bienPrix">
									{{ bien.prix }}
									€
								</p>
								<p class="bienCodePostal">
									{{ bien.localisation }}
								</p>
								<div>
									<img src="/images/logo/{{ bien.idCategorie }}.png" onerror="this.src='/images/photo/noPhoto.jpg'" alt="{{ bien.idCategorie }}" width="21" height="21" class="bienTypeImage"/>
									<p class="bienType">
										{{ bien.idCategorie }}
									</p>
								</div>
							</div>
						</div>
					</div>
				</a>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
